# Generated settings:
shareComment="Finance Hub document inbox"
shareInclude=""
shareExclude=""
shareUseCache="yes"
shareCachePool="cache"
shareCachePool2=""
shareCOW="auto"
shareAllocator="highwater"
shareSplitLevel=""
shareFloor="104857600"
shareExport="-"
shareCaseSensitive="auto"
shareSecurity="private"
shareReadList=""
shareWriteList=""
shareVolsizelimit=""
shareExportNFS="-"
shareExportNFSFsid="0"
shareSecurityNFS="private"
shareHostListNFS=""
